.txt-ror {
    color: #ba102b !important
}

.txt-zip {
    color: #f7c32d !important
}

.txt-excel {
    color: #11753f !important
}

.txt-word {
    color: #285191 !important
}

.txt-pp {
    color: #be381b !important
}

.txt-acad {
    color: #720828 !important
}

.txt-skp {
    color: #e90a15 !important
}

.txt-warning {
    color: #f8d62b !important
}

.txt-google-plus {
    color: #c64e40 !important
}

.txt-twitter {
    color: #6fa2d8 !important
}

.txt-linkedin {
    color: #0077B5 !important
}

.txt-fb {
    color: #50598e !important
}

.txt-primary {
    color: var(--theme-deafult) !important
}

.txt-secondary {
    color: var(--theme-secondary) !important
}

.horizontal-line {
    width: 90%;
    text-align: center;
    border-bottom: 2px solid #AE66D9FF;
    margin-left: 5%;
    padding-top: 10px;
}

.fa-star {
    color: #ffd30e;
    text-shadow: 0 0 1px #545454;

}

.tabs {
    display: flex;
}

.tab-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
    border-radius: 15px 15px 0 0; /* Üst köşeleri pahlı yapmak için */
    text-align: center;
    border-bottom: none;
    padding: 10px;
}

.tab-item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.tab-item:not(:last-child) {
    margin-right: -1px; /* Sekmeleri birbirine değdirmek için */
}

.tab-item:hover {
    background-color: #e9ecef;
}

.custom-card {
    border-radius: 0 0 15px 15px; /* Üst köşeleri pahlı yapmak için */
    border: 1px solid #dcdcdc; /* İncecik ve çok açık gri çerçeve */
    padding: 1rem;
    margin-bottom: 1rem;
}

.custom-card-header {
    font-size: 0.8rem; /* Başlık boyutu */
    font-weight: bold;
    border-radius: 15px 15px 0 0; /* Üst köşeleri pahlı yapmak için */
    background-color: #f8f9fa; /* Başlık arka plan rengi */
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-card-body {
    padding: 1rem;

}

.tab-item {
    position: relative;
}

.full-link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; /* İsteğe bağlı: Metni ortalamak için */
}

.full-link:hover {
    cursor: pointer; /* Fare ile üzerine gelince imleç değişir */
}

.download_links {
    display: flex; /* Öğeleri yan yana dizmek için */
    justify-content: flex-end; /* Öğeleri div'in en sağına yerleştir */
    gap: 10px; /* Öğeler arasında boşluk bırakmak için */
    padding-right: 37px; /* Sağdan 15px boşluk bırak */
}

.download_links a {
    text-decoration: none; /* Linklerin alt çizgisini kaldırmak için */
}

.download_links a:hover i,
.download_links i:hover { /* İkonlara fareyle üzerine gelince renk değişimi */
    color: #63a45b; /* İkon rengini yeşil yapar */
}

.download_links i {
    color: #007bff; /* Normalde ikonların mavi olmasını sağlar */
}

.light-square[role="button"]::after {
    content: none !important; /* Aşağı ok işaretini tamamen kaldırır */
}

.custom-dropdown-menu {
    background-color: #f8f9fa; /* Menü arka planı */
    border-radius: 4px;       /* Köşelerin yuvarlatılması */
    padding: 5px 0;           /* Dikey boşluk */
    min-width: 200px;         /* Menü genişliği */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Hafif gölge efekti */
}

.custom-dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;      /* Simge ve metni hizalama */
    padding: 10px 15px;       /* İç dolgu */
    font-size: 14px;          /* Yazı boyutu */
}

.custom-dropdown-menu .dropdown-item i {
    margin-right: 10px;       /* Simge ile metin arasında boşluk */
    color: #6c757d;           /* Simge rengi */
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #e9ecef; /* Hover sırasında arka plan rengi */
    color: #000;               /* Yazı rengi */
}
table#contract_price {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

table#contract_price th, table#contract_price td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table#contract_price th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table#contract_price tr:nth-child(even) {
    background-color: #f9f9f9;
}

table#contract_price tr:hover {
    background-color: #f1f1f1;
}

#contract_price .form-control-sm {
    width: 100px;
    height: 20px;
    font-size: 12px;
}
